.fc-daygrid-day {
  transition: background-color 0.2s ease;
}

.fc-daygrid-day:hover {
    cursor: pointer;
  }

  .single-day-event, .multi-day-event {
    font-size: 13px;
  }

.single-day-event {
  background-color: rgb(255, 255, 255, 0);
  border: none;
  color:rgb(65, 61, 61);
}

.single-day-event:hover {
  background-color: rgb(186, 232, 250);
}

.multi-day-event {
  background-color: rgb(186, 232, 250);
  color:rgb(65, 61, 61);
  border: none;
  padding: 2px;
}

.multi-day-event:hover {
  background-color: #c7cdce;
}

.multi-day-event, .single-day-event {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.fc .fc-button {
  background-color: white;
  color: #9c9999;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 17px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* 호버 상태의 버튼 스타일 */
.fc .fc-button:hover {
  background-color: #b4b7b9;
}

.createCalendar {
  display: inline-flex;
  align-Items: center;
  cursor: pointer;
  padding: 10px 20px;
  border-Radius: 4px;
  transition: background-color 0.1s ease;
}

.createCalendar:hover {
  color: #9c9797;
}